@charset "utf-8";
.recent-lists {
    margin:0;
    padding:0;
    list-style:none;
    background-color:#4d4d4d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.recent-list {
    margin:0;
    padding:1em;
    border-bottom:1px solid #999;
    color:#eee;
    font-size:11px;
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}
.recent-link {
    color:#eee;
    text-decoration:none;
}
.recent-link:hover {
    color:#fff;
}
.post-author {
    display:block;
    color:#999;
    font-size:9px;
    text-align:right;
}
